:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  color: #444;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 6px #555b;
}

.language button {
  height: 3rem;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px #666;
  margin: 10px;
  font-weight: bold;
}
.language button:hover {
  color: #aaa;
  background-color: #444;
}
body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: none;
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  box-shadow: 1px 1px 1px 1px #000;
}

.btn:hover {
  border-color: black;
  background-color: #444;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn,
.submit-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.start-btn {
  display: none;
}
